<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Ionic bluettoth
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onScan()">
        <!--<ion-icon name="md-bluetooth"></ion-icon>-->
        {{ scanButtonTitle }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>BLE devices detected :</h3>
  
  <button *ngFor="let o of devices" ion-item (click)="connectToDevice(o)">
      <b>{{o.name || 'Unnamed'}}</b> [ <i>{{o.id}}</i> ]<br>
      <font class="title">rssi : </font><font class="value">{{o.rssi}}</font>
  </button>

  <!--<button *ngFor="let o of devices" ion-item (click)="connectToDevice(o)">
    <h2>{{o.name || 'Unnamed'}}</h2>
    <p>{{o.id}}</p>
    <p>rssi : {{o.rssi}}</p>
  </button>-->
  <ion-label>{{ error }}</ion-label>
</ion-content>

